<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
</head> 
<body>
    <header>
        <a href="index.html">
            <img src="https://d2i9ogginaqdr5.cloudfront.net/cmsstatic/pop%20exclusive.png" alt="LOGO">
        </a>
        <h1 style="text-align:center;font-family:Times;color:#FFFFFF;">Funko Store</h1>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="carrito.html">Carrito</a>
                </li>
                <li>
                    <a href="login.html">Administracion</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="buttons-container">
            <a href="productos.html">VER PRODUCTOS EN STOCK</a>
            <br></br>
            <a href="registros.html">VER REGISTRO DE VENTAS</a>
            <br></br>
        </div>
        <form action="{{url_for('guardarproducto')}}" method="post">
            <fieldset>
                <legend>Adquirir productos</legend>
                
                    <div class="formulario-campo-container">
                        <label for="Nombre-Producto">Ingrese el nombre del producto</label>
                        <input required type="text" class="input" placeholder="Nombre_Producto" name="Nombre_Producto" id="Nombre_Producto">
                    </div>
                    <div class="formulario-campo-container">
                        <label for="ID-Producto">Ingrese el ID del producto</label>
                        <input required type="text" class="input" placeholder="id_Producto" name="id_Producto" id="id_Producto">
                    </div>
                    <div class="formulario-campo-container">
                        <label for="Precio-Producto">Ingrese el precio del producto</label>
                        <input required type="text" class="input" placeholder="precio_Producto" name="precio_Producto" id="precio_Producto">
                    </div>
                    <div class="formulario-campo-container">
                        <label for="Cantidad-Producto">Ingrese la cantidad de producto</label>
                        <input required type="text" class="input" placeholder="cant_Producto" name="cant_Producto" id="cant_Producto">
                    </div>
                    <div class="formulario-campo-container">
                        <label for="Proveedor-Producto">Ingrese el proveedor del producto</label>
                        <input required type="text" class="input" placeholder="proveedor_Producto" name="proveedor_Producto" id="proveedor_Producto">
                    </div>
                    <button type="submit" class="button is-success mt-2">Guardar</button>
                    
                
            </fieldset>
        </form>
    </main>

</body>

</html>