<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='carrito.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
</head>
<body>
    <header>
        <a href="index.html">
            <img src="https://d2i9ogginaqdr5.cloudfront.net/cmsstatic/pop%20exclusive.png" alt="LOGO">
        </a>
        <h1 style="text-align:center;font-family:Times;color:#FFFFFF;">Funko Store</h1>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="carrito.html">Carrito</a>
                </li>
                <li>
                    <a href="admin.html">Administracion</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <H1><center>PEDIDOS REALIZADOS</center></H1>
    
        <form action="">
            <center>
            <fieldset>
                <figure>
                    <img src="https://lh3.googleusercontent.com/DOGAXgvX9vM9jfa4ik8Kw3p34WP50qxRHLvGXgTcLrBtclyQ8QiE1bF06W3bzRQroz11MwTzk59QfWsFejx4W-HOBh87CcJiG0g6bmrUGIeyzzQnCES69FFq9dg54x3ycTQNxH98" alt="Zapatillas adidas">
                    <Figcaption>
                        Shampoo
                    </Figcaption>
                </figure>
                <div class="precio">
                    <p>Precio <b>S/. 533</b></p>
                    <p>cantidad <span><b>4</b></span></p>
                </div>
            </fieldset>
            

            <input type="submit" value="Confirmar Pedido">
            </center>
        </form>
    </main>
    <script src = "{{ url_for('static', filename='carrito.js') }}"></script>
</body>
</html>