<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funko tienda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pagar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
</head>
<body>
    <header>
        <a href="index.html">
            <img src="https://d2i9ogginaqdr5.cloudfront.net/cmsstatic/pop%20exclusive.png" alt="LOGO">
        </a>
        <h1 style="text-align:center;font-family:Times;color:#FFFFFF;">Funko Store</h1>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>                                                                                       
                <li>
                    <a href="carrito.html">Carrito</a>
                </li>
                <li>
                    <a href="admin.html">Administracion</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 style="text-align:center;font-family:Times;color:#000000;" >PAGO FALLID</h1>
        <form action="{{url_for('index')}}" method="post">
            <input class="confirmacion" type="submit" value="Volver">
        </form>

    </main>
   
</body>

</html>